* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Utilities */
.u-flex {
    display: flex;
}
.u-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.u-flex-align-center {
    display: flex;
    align-items: center;
}
img.user {
    width: 40px;
    border-radius: 50%;
}
header i {
    font-size: 20px;
    margin: 5px;
    color: #B1B1B1;
}
header {
    height: 10%;
    background-color: #EAEAEA;
    width: 100%;
}



body {
    height: 100vh;
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(
        to bottom,
        #009688 0vh,
        #009688 15vh,
        #d2dbdc 15vh,
        #d2dbdc 100vh
    );
}
.container {
    width: 90%;
    min-width: 800px;
    height: 90%;
    background: white;
    
}
/* Parte laterale sinistra della pagina inn cui ci sono tutte le conversazioni */
.side {
    width: 37%;
    height: 100%;
    background: red;
}

.side-header {
    justify-content: space-between;
    padding: 15px;
    border-right: 1px solid grey;
}


.notifications {
    width: 100%;
    height: 10%;
    background: #8EDAFC;
    padding: 15px;
    
}
.notifications i {
    line-height: 35px;
    text-align: center;
    background: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #8EDAFC;
    margin-right: 10px;
}
.desktop-notifications p:last-child {
    margin-top: 4px;
    font-size: 13px;
    color: grey;
    text-decoration: underline;
}
.search {
    width: 100%;
    height: 6%;
    background: white;
    padding: 15px;
}
.search i {
    width: 20%;
    font-size: 20px;
    color: #B1B1B1;
}
.search input {
    width: 80%;
    height: 27px;
    border: none;
    font-size: 17px;
}
.search input:hover,
.search input:focus {
    border: 1px solid grey;
    cursor: pointer;
}

.chat-list {
    width: 100%;
    height: 74%;
    background: white;
    overflow-y: scroll;
}
.contacts {
    width: 100%;
    height: calc(100% / 9);
    background: white;
    border-top: 1px solid #DBDBD3;
    padding: 15px 20px;
    justify-content: space-between;
}
.user-chat {
    margin-left: 15px;
}
.contacts p {
    font-size: 14px;
    color: lightgrey;
   
}
.contacts:hover {
    background: #EAEBEB;
}


/* Parte centrale dove si vede la chat */


.main-content {
    width: 63%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.chat {
    background-image: url('../img/mine.jpg') ;
    flex-grow: 1;
    padding: 25px 30px 0;
    overflow-y: auto;
}

.mex {
    width: 200px;
    min-height: 30px;
    border-radius: 20px;
    text-align: center;
    position: relative;
}
.white {
    background: white;
    float: left;
}
.green {
    background: #D5F7BB;
    float: right;
}
.message {
    margin-bottom:20px;
}
/* .message p {
    overflow-wrap: break-word;
} */
.message::after {
        content: "";
        display: table;
        clear: both;
    
}
.chat span {
    font-size: 10px;
    position: absolute;
    bottom: 2px;
    right: 8px;
}
/* i.fa-paper-plane {
    display: none;
} */




/* FOOTER PARTE DESTRA */
.chat-footer {
    background:#F3EEEB;
    height: 50px;
    justify-content: space-between;
    padding: 20px;
}
.chat-footer input {
    flex-grow: 1;
    height: 40px;
}
.chat-footer input:focus, 
.chat-footer input:hover {
    background:gold;
}
.chat-footer i {
    font-size: 20px;
    margin: 10px;
}
.main-header {
    justify-content: space-between;
    padding: 20px;
}
.info {
    margin-left: 20px;
}
.info p {
    margin-top: 5px;
    color: grey;
    font-size: 85%;
}

/* Templates */
.template {
    display: none;
}
